<!DOCTYPE html>
<html>
<head>
  <title>EditorApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%#*<link rel="stylesheet" href="../lib/codemirror.css">%>
  <%#*<script src="../lib/codemirror.js"></script>%>
  <style type="text/css">
      .CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
      dt {font-family: monospace; color: #666;}
    </style>
</head>
<body>

<%= yield %>

</body>
</html>
